* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body .border{
    width: 50px;
    height: 50px;
    border: solid 20px green;
    border-radius:50%;
    background-color: green;
    
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.side-nav {
    z-index: 999;
    position: fixed;
    left: -255px;
}

.side-nav .nav-header .open {
    cursor: pointer;
}


.side-nav .list ul li {
    cursor: pointer;
    position: relative;

}

.side-nav .social-icons {
    padding-top: 280px;

}

.side-nav .social-icons i {
    cursor: pointer;

}

.side-nav .nav-header {
    width: 70px;
    ;

}

.side-nav .nav-header img {
    width: 100%;
}

.side-nav .nav-header .icons {
    cursor: pointer;
}


.nav-header img {
   width: 40px;
   height: 70px;
}

#search-container {
    position: absolute;
    top: 10px;
    left: 320px;
    z-index: 99;
}

#contact {
    position: absolute;
    top: 40%;
    left: 150px;
    display: none;

}

/* Layer */

    .movie-img {
    position: relative;
}

#nowPlayingMovie .movie .movie-layer {
    /* display: none; */
    bottom: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color:transparent;
    position: absolute;
    transition: bottom 0.5s;
    color: white;
  
}

#nowPlayingMovie .movie img{
    transition: scale 0.5s  rotate 0.5s,
}


#nowPlayingMovie .movie:hover .movie-layer{
    bottom: 0;
    left: 0;
}

#nowPlayingMovie .movie:hover img{
    transform: scale(1.2) rotate(2deg);
    opacity: 0.5;
    

    
}

#nowPlayingMovie .movie {
    cursor: pointer;
}

#nowPlayingMovie .area {
    cursor: pointer;
}

#nowPlayingMovie .ingredients {
    cursor: pointer;
}

/* End Layer */

.movie-img {
    position: relative;
}

#popularMovie .movie .movie-layer {
    /* display: none; */
    bottom: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color:transparent;
    position: absolute;
    transition: bottom 0.5s;
    color: white;
  
}

#popularMovie .movie img{
    transition: scale 0.5s  rotate 0.5s,
}


#popularMovie .movie:hover .movie-layer{
    bottom: 0;
    left: 0;
}

#popularMovie .movie:hover img{
    transform: scale(1.2) rotate(2deg);
    opacity: 0.5;
    

    
}
/* layer */
#topRatedMovie .movie {
    cursor: pointer;
}

#topRatedMovie {
    cursor: pointer;
}

#topRatedMovie  {
    cursor: pointer;
}



.movie-img {
    position: relative;
}

#topRatedMovie .movie .movie-layer {
    /* display: none; */
    bottom: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color:transparent;
    position: absolute;
    transition: bottom 0.5s;
    color: white;
  
}

#topRatedMovie .movie img{
    transition: scale 0.5s  rotate 0.5s,
}


#topRatedMovie .movie:hover .movie-layer{
    bottom: 0;
    left: 0;
}

#topRatedMovie .movie:hover img{
    transform: scale(1.2) rotate(2deg);
    opacity: 0.5;
    

    
}

#topRatedMovie .movie {
    cursor: pointer;
}

#topRatedMovie {
    cursor: pointer;
}

#topRatedMovie  {
    cursor: pointer;
}

/*  */


.movie-img {
    position: relative;
}

#upComingMovie .movie .movie-layer {
    /* display: none; */
    bottom: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color:transparent;
    position: absolute;
    transition: bottom 0.5s;
    color: white;
  
}

#upComingMovie .movie img{
    transition: scale 0.5s  rotate 0.5s,
}


#upComingMovie .movie:hover .movie-layer{
    bottom: 0;
    left: 0;
}

#upComingMovie .movie:hover img{
    transform: scale(1.2) rotate(2deg);
    opacity: 0.5;
    

    
}

#upComingMovie .movie {
    cursor: pointer;
}

#upComingMovie .area {
    cursor: pointer;
}

#upComingMovie .ingredients {
    cursor: pointer;
}
/*  */
.movie-img {
    position: relative;
}

#upComingMovie .movie .movie-layer {
    /* display: none; */
    bottom: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color:transparent;
    position: absolute;
    transition: bottom 0.5s;
    color: white;
  
}

#upComingMovie .movie img{
    transition: scale 0.5s  rotate 0.5s,
}


#upComingMovie .movie:hover .movie-layer{
    bottom: 0;
    left: 0;
}

#upComingMovie .movie:hover img{
    transform: scale(1.2) rotate(2deg);
    opacity: 0.5;
    

    
}

#upComingMovie .movie {
    cursor: pointer;
}

#upComingMovie .area {
    cursor: pointer;
}

#upComingMovie .ingredients {
    cursor: pointer;
}


/*  */

.loder .spinner-border{
    color:white;
}